* {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #141414;
}

.top-content {
    margin-top: 220px;
    width: 100%;
    font-size: 30px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.middle-content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfis {
    margin: 0 4px 100px 0;
    width: 200px;
    height: 200px;
    transition: 0.3s;
}

.perfis:hover {
    opacity: 0.5;
    transform: scale(0.90);
    cursor: pointer;
    border: solid white;
    transition: 0.3s;
}

.footer {
    color: grey;
    display: block;
    width: 300px;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

.footer:hover {
    color: white;
    transform: scale(0.90)
}

.navbar {
    border-bottom: solid 1px red;
}

.navbar li {
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 0;
    margin-bottom: 15px;
    color: white;
    transition: 0.3s;
}

.navbar:first-child {
    margin-left: 15px;
}

.navbar li:hover {
    cursor: pointer;
    color: grey;
    transform: scale(0.90);
}
